#buddy {
  position: fixed;
  top: 1%;
  left: 101%;
  width: 50%;   
  height: 25%;
  background-color: #E0E0E0;
  outline: 1px solid black;

  transition-property: top, left, width, height;
  transition-duration: 0.5s;
}

.show {
  left: 49% !important;
}

.down {
  top: 74% !important;
}

.container {
  height: 100%;
  width: 100%;
}

.box {
  display: flex;
}

.column {
  flex: 50%;
  display: flex;
  flex-direction: column;
}

#codeBox {
  flex: 50%;
}

#info {
  margin: 5px;
}

.right {
  text-align: right;
}
  
#video {
  width: 100%;
}

h5 {
  margin: 0px;
}

#clipboard {
  display: inline-block;
  width: 10px;
  height: 10px;
}

#code textarea {
  width: 100%;
}

#comment {
  flex: 40%;  
}

#link {
  flex: 20%;
}