#buddy {
    position: fixed;
    top: 0%;
    left: 100%;
    width: 20%;   
    height: 40%;
    background-color: #D0D0D0;
    outline: 1px solid black;

    transition-property: top, left, width, height;
    transition-duration: 1s;
}

.show {
    left: 80%;
}

.down {
    top: 60%;
}